*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: beige;
}

.reg-form-cont{
    max-width: 550px;
    width: 100%;
    height:  600px;
    box-shadow: 0px 0px 10px grey;
    margin: 50px auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Change this */
    padding: 10px 0; /* Change this */
}
.reg-form-top{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(171, 171, 171);
    padding: 10px;
}
.reg-form-body{
    display: flex;
    flex-direction: column;
    gap: 20px; /* change this */
}
.reg-input-cont{
    display: flex;
    flex-direction: column;
    position: relative;
}
.reg-input-cont input{
    width: 450px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
}
.reg-form-cont input:focus{
    outline: 0;
    border-color: grey;
}

.reg-input-cont i{
    position: absolute;
    right: 13px;
    top: 36px;
    font-size: 12px;
}
.reg-form-cont .fa-circle-check{
    display: none;
    color: green;
}
.reg-form-cont .fa-circle-exclamation{
    display: none;
    color: orange;
}
.reg-form-cont small{
    display: none;
    font-size: 11px;
    color: red;
    letter-spacing: 0.5px;
}
.form-sbmt-btn input{
    margin-top: 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: 0;
    box-shadow: 0 0 5px grey;
    background-color: beige;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Change this */
}
.form-sbmt-btn input:hover{
    transform: scale(1.1);
}